@font-face {
  font-family: "NotoSans";
  src: url(assets/fonts/NotoSans-VariableFont_wdth\,wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html, body {
  color: #C9CCCC;
  font-weight: 700;
  height: 100%;
  min-width: 20rem;
  line-height: 1;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

button {
  font-weight: inherit;
  line-height: inherit;
  font-size: inherit;
  cursor: pointer;
  color: inherit;
  border-color: transparent;
  border: 0;
  box-shadow: none;
}

body {
  font-family: "NotoSans", sans-serif;
  background-image: linear-gradient(to top, #091440, #04091C);
  background-repeat: no-repeat;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  max-width: 1170px;
  height: 74px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 20px;
  border-radius: 20px;
  background-color: #1F2535;
}
.header__logo {
  height: 44px;
  cursor: pointer;
}
.header__input {
  height: 50px;
  width: 75%;
  background-color: #191f2d;
  color: #aaa9a9;
  padding-left: 8px;
  line-height: 80%;
  font-size: 20px;
  border-radius: 12px;
}
.header__theme-button {
  height: 50px;
  width: 50px;
  background-color: #2F354D;
  border-radius: 25%;
}

/*-------------------------------------------------*/
.navigation {
  margin-top: 64px;
  min-width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h1 {
  font-size: 32px;
  color: #ffffff;
}

.nav {
  font-family: "NotoSans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 44px;
  border-radius: 20px;
  transition: all 0.2s ease;
  min-width: 70px;
  text-align: center;
  cursor: pointer;
  border: none;
  color: #ffffff;
  background-color: #30354B;
  border: #53596F solid 1px;
}

.button__all {
  padding: 0;
}
.button__active {
  padding: 10px 30px;
}
.button__inactive {
  padding: 10px 30px;
}

.nav__buttons {
  display: flex;
  gap: 12px;
}

.inactive-button {
  font-family: "NotoSans";
  color: #ffffff;
  background-color: #30354B;
  border: #53596F solid 1px;
}

.active-button {
  background-color: #F45B56;
  color: #241939;
  border: #ea7b7d solid 1px;
}

.inactive-button:hover {
  background-color: #525868;
}

/*------------------------------------------------------------------*/
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-top: 36px;
  gap: 16px;
  padding-bottom: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  width: 380px;
  background-color: #1F2535;
  padding: 20px;
  border-radius: 20px;
  border: #53596F solid 1px;
}
.card__header {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.card__description {
  padding-top: 4px;
}
.card__title {
  font-size: 20px;
}
.card__image {
  height: 60px;
  width: 60px;
}
.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__delete-button {
  height: 35px;
  width: 89px;
  border-radius: 20px;
  background-color: #1F2535;
  border: #4a505e solid 1px;
  font-weight: 200;
}
.card__delete-button:hover {
  background-color: #F45B56;
  color: #241939;
  border: #ea7b7d solid 1px;
  transition: 0.35s ease;
}
.card__switch {
  position: relative;
  width: 50px;
  height: 28px;
}
.card__switch input {
  opacity: 0;
  width: 0;
  height: 0;
  bottom: 10px;
  right: 10px;
}
.card__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  border-radius: 34px;
  transition: background-color 0.3s ease;
  width: 38px;
  height: 20px;
  background-color: #53576A;
}
.card__slider::before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

input:checked + .card__slider {
  background-color: #ff4d4f;
}

input:checked + .card__slider::before {
  transform: translateX(18px);
}

/*--------------------*/
.is-dragging {
  scale: 1.05;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  background: rgb(50, 50, 50);
  color: white;
}

p {
  padding-top: 12px;
  font-weight: 300;
  color: #b8b8b8;
  font-size: 16px;
  line-height: 20px;
}

/*------------------------------------------------------------------*/
.modalwindow__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(36, 25, 57, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.modalwindow__content {
  background-color: #1F2535;
  border-radius: 15px;
  text-align: center;
  color: #fff;
  padding: 40px 80px;
}
.modalwindow__icon {
  width: 100px;
  margin-bottom: 10px;
}
.modalwindow__title {
  font-size: 20px;
}
.modalwindow__buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 10px 0;
  gap: 30px;
}

.hidden {
  display: none;
}

.btn {
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
}
.btn__close {
  background-color: #1F2535;
  color: #525868;
  border: #525868 2px solid;
}
.btn__close:hover {
  background-color: #525868;
  color: #1F2535;
}
.btn__submit {
  background-color: #1F2535;
  color: #f9544e;
  border: #f9544e 2px solid;
}
.btn__submit:hover {
  background-color: #f9544e;
  color: #1F2535;
}

.modalbtn {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  font-weight: normal;
}/*# sourceMappingURL=todoapp.css.map */